.agendar {
  position: relative;
  background-color: #65232d;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--cor-base);
  gap: 30px;
  margin: 20px 0px;
  margin-top: 100px;
  overflow: hidden;
}

/* Lado esquerdo */
.agendar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 300px;
  background-image: url("../assets/detalhes/detalhe.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
  pointer-events: none;
  z-index: 0;
}

/* Lado direito (espelhado) */
.agendar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 300px;
  background-image: url("../assets/detalhes/detalhe.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: scaleX(-1); /* espelha a imagem */
  opacity: 0.8;
  pointer-events: none;
  z-index: 0;
}

.agendar_titulo {
  color: var(--cor-base);
  font-size: 38px;
  font-weight: 800;
  font-family: "Montserrat", serif;
}

.agendar_texto {
  word-spacing: 3px;
  letter-spacing: 3px;
  font-size: 18px;
}

.agendar_botao {
  color: var(--cor-base);
  background-color: var(--cor-destaque);
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 26px;
  transition: 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.236);
  max-width: 350px;
  text-align: center;
}

.agendar_botao:hover {
  transform: scale(1.1);
  background-color: var(--cor-destaque);
}

@media (max-width: 768px) {
  .agendar {
    text-align: center;
    padding: 20px;
  }

  .agendar_titulo {
    font-size: 24px;
  }

  .agendar_botao {
    padding: 10px 20px;
    font-size: 18px;
    max-width: 350px;
  }
}
