.atendimento_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 50px;
}
.atendimento_cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
  margin-top: 70px;
}
.atendimento_titulo {
  font-size: 60px;
  color: var(--cor-secundaria);
}
.atendimento_infos {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  max-width: 80vw;
  margin: 0 auto;
}
.atendimentos_textos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  p {
    font-size: 16px;
    line-height: 1.4;
  }
  span {
    color: var(--cor-destaque);
    font-weight: bold;
  }
  h3 {
    color: var(--cor-secundaria);
    font-weight: bold;
    font-size: 24px;
  }
  ul {
    list-style: circle;
    padding-left: 30px;
  }
}
.atendimento_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #e0d0c0ad;
  border-radius: 15px;
  color: var(--cor-destaque);
  max-height: 650px;
  div {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
}

.atendimento_card img {
  max-width: 300px;
  border-radius: 15px;
}

.atendimento_card h3 {
  font-size: 24px;
}

.atendimento_card a {
  background-color: var(--cor-destaque);
  color: white;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.atendimento_card a:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .atendimento_cabecalho {
    flex-direction: column;
    gap: 25px;
    margin-top: 0px;
  }

  .atendimento_infos {
    flex-direction: column;
  }

  .atendimento_card {
    height: 100%;
    padding-bottom: 20px;
  }

  .atendimento_card img {
    width: 100%;
    max-width: 250px;
  }

  .atendimento_card h3 {
    font-size: 24px;
  }

  .atendimento_card a {
    font-size: 18px;
  }
}
