.inicio{
  display: flex;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.236);
  background-color:var(--cor-base);
  border-radius: 0px 0px 160px 80px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
  padding-top: 90px;
}

.inicio::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: 100px; 
  height: 100px;
  background-image: url("../assets/logo_reduzida.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  transform: translate(-20%, 20%);
  opacity: 0.1;
}

.inicio_infos{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  gap: 250px;
  color: var(--cor-secundaria);
  padding-left: 150px;
  padding-top: 120px;
}
.inicio_infos_pessoal{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.inicio_infos_titulo{
  font-size: 60px;
}

.inicio_infos_cargo{
  font-size: 70px;
  font-weight: 800;
}
.inicio_infos_titulo_esp{
  font-size: 50px;
  font-weight: 800;
  color: var(--cor-destaque);

}
.inicio_infos_credenciais{
  font-size: 24px;
}

.inicio_foto{
  width: 50%;
  border-radius: 0px 0px 80px 0px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.236);
}

.inicio_infos_botao{
  color:var(--cor-base);
  background-color: var(--cor-destaque);
  text-decoration: none;
  padding: 20px 35px;
  border-radius: 10px;
  font-size: 32px;
  transition: 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.236);
  max-width: 650px;
  text-align: center;
}

.inicio_infos_botao:hover{
  animation: pulsar 1s infinite;
}

@keyframes pulsar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.lista_especialidades{
  font-size: 32px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 40px;
  list-style:circle;
  padding-left: 50px;
}
@media (max-width: 768px) {
  .inicio_esp{
    display: none;
  }

  .inicio{
    flex-direction: column;
    padding: 0px;
  border-radius: 0px 0px 80px 80px;

  }

  .inicio_infos{
    width: 100%;
    padding: 10px;
    padding-top: 30px;
  }

  .inicio_infos_botao{
    max-width: 70%;
    align-self: center;
    font-size: 18px;
  }

  .inicio_infos_titulo{
    font-size: 24px;
  }
  
  .inicio_infos_cargo{
    font-size: 30px;
  }
  .inicio_infos{
    order: 2;
    text-align: center;
  }
  .inicio_foto{
    width: 100%;
    border-radius: 0px 0px 80px 80px;

  }
}